In [1]:
from Exp1Summary import readcsv, count_model_rows, count_unique_tasks, check_missing_values

file_path = "EXP1numberone_results.csv"

df = readcsv(file_path)

df.info()

count_model_rows(df, column_name="model_name")

count_unique_tasks(df, column_name="task_name")

check_missing_values(df, column_name="raw_answer")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135 entries, 0 to 134
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   task_name     135 non-null    object
 1   query         135 non-null    object
 2   run           135 non-null    int64
 3   model_name    135 non-null    object
 4   image_path    135 non-null    object
 5   ground_truth  135 non-null    float64
 6   raw_answer    135 non-null    object
 7   time_ms       135 non-null    float64
dtypes: float64(2), int64(1), object(5)
memory usage: 8.6+ KB
Count unique rows for each model model_name
CustomLLaMA        27
gpt4o              27
LLaMA              27
GeminiProVision    27
Gemini1_5Flash     27
Name: count, dtype: int64
Unique tasks are: 9
ðŸ¤” Checking the 'raw_answer' column for sneaky NaNs or pesky 'n/a' values...
ðŸŽ‰ Hooray! No missing or 'n/a' values found in this column. It's all squeaky clean! ðŸš€

Empty DataFrame
Columns: [task_name, query, run, model_name, image_path, ground_truth, raw_answer, time_ms]
Index: []