In [1]:
import sklearn.metrics
import numpy as np

def calculate_mlae(y_test, y_pred):

  MLAE = np.log2(sklearn.metrics.mean_absolute_error(np.multiply(y_pred,100), np.multiply(y_test,100))+.125)
  #overall measure error

  MLAE_NEW = np.mean( np.log2( np.abs(np.multiply(y_pred,100) - np.multiply(y_test,100)) + .125 ) )
  #apply log first before average
  
  MLAE_RAMI = np.log2(sklearn.metrics.mean_absolute_error(y_pred, y_test)+.125) # Nguyen 2025
  #use real number to caculate

  MLAE_OLD = np.log2(sklearn.metrics.mean_absolute_error(y_pred*100, y_test*100)+.125) # Haehn 2018

  return MLAE, MLAE_NEW, MLAE_RAMI, MLAE_OLD

THIS IS AN EXAMPLE OF 10 VALUES 

FIRST EXAMPLE: WITHIN NORMAL RANGE (1 TO 90 DEGREES)

SECOND EXAMPLE: WITHIN NORMAL RANGE (1 TO 90 DEGREES) BUT ADD FEW OUTLIERS

In [2]:
import random

#Within normal range

y_test1 = [40, 45, 10, 20, 30, 50, 60, 70, 80, 90, 12, 22, 32, 42, 52, 62, 72, 82, 25, 35]
y_pred1 = [45, 60, 5, 12, 28, 38, 55, 68, 77, 89, 15, 27, 37, 47, 57, 67, 78, 88, 20, 30]

results1 = calculate_mlae(y_test1, y_pred1)

print({"MLAE": results1[0], "MLAE_NEW": results1[1], "MLAE_RAMI": results1[2], "MLAE_OLD": results1[3]})

#Have one or two outliers in the dataset

y_test2 = [40, 45, 10, 20, 30, 50, 60, 70, 80, 90, 12, 22, 32, 42, 52, 62, 72, 82, 25, 35] 
y_pred2 = [45, 60, 5, 15, 25, 35, 55, 65, 75, 85, 18, 28, 38, 48, 58, 68, 78, 88, 120, 130] 


results2 = calculate_mlae(y_test2, y_pred2)

print(y_pred2)

print({"MLAE": results2[0], "MLAE_NEW": results2[1], "MLAE_RAMI": results2[2], "MLAE_OLD": results2[3]})

{'MLAE': 9.077149515589733, 'MLAE_NEW': 8.846880906515228, 'MLAE_RAMI': 2.465974464504069, 'MLAE_OLD': 2.465974464504069}
[45, 60, 5, 15, 25, 35, 55, 65, 75, 85, 18, 28, 38, 48, 58, 68, 78, 88, 120, 130]
{'MLAE': 10.588831732700212, 'MLAE_NEW': 9.654565432178796, 'MLAE_RAMI': 3.956521363333119, 'MLAE_OLD': 3.956521363333119}

I USE REAL DATASET FOR ANGLE AND CUSTOMLLaMA TO PERFORM THE MLAE CACULATIONS.

In [3]:
import pandas as pd

angle_dataframe = pd.read_csv("angle_dataframe")

angle_dataframe["model_name"].unique()

customllama = angle_dataframe[angle_dataframe["model_name"] =="CustomLLaMA"]

customllama.info()

<class 'pandas.core.frame.DataFrame'>
Index: 157 entries, 0 to 156
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   task_name        157 non-null    object
 1   query            157 non-null    object
 2   run              157 non-null    int64
 3   model_name       157 non-null    object
 4   image_path       157 non-null    object
 5   ground_truth     157 non-null    float64
 6   raw_answer       157 non-null    object
 7   time_ms          157 non-null    float64
 8   cleaned_answers  157 non-null    float64
 9   task             157 non-null    object
 10  file             157 non-null    object
 11  model_type       157 non-null    object
dtypes: float64(3), int64(1), object(8)
memory usage: 15.9+ KB

I CONVERT COLUMNS GROUND_TRUTH AND CLEANED ANSWERS TO LIST

In [4]:
import sklearn.metrics
import numpy as np

y_test = customllama["ground_truth"].tolist()

y_pred = customllama['cleaned_answers'].tolist()

result = calculate_mlae(y_test, y_pred)

print({"MLAE": result[0], "MLAE_NEW": result[1], "MLAE_RAMI": result[2], "MLAE_OLD": result[3]})

{'MLAE': 12.993450259227716, 'MLAE_NEW': 12.373521263371737, 'MLAE_RAMI': 6.351781690836879, 'MLAE_OLD': 6.351781690836879}

ONCE I PUT IN REAL DATASET, I FOUND MLAE_RAMI AND MLAE_OLD ARE THE SAME RESULTS. 

I USE REAL NUMBER TO CACULATE MLAE WITHOUT NORMALIZING AS WELL. 

FOR THE FIRST TWO MLAES, IF THEY SCALE 100, THEN PREDICTION VALUE MORE LARGE. 

LIKE ANGLE = 45 will become 4500.

==> I THINK WHY THE FIRST TWO MLAE DOUBLED RESULTS. HOW DO THINK DANIEL?